# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.filters
*.log
*.obj
*.pch
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.ipch
*.htm
*.exe
*.ilk
StreamAudioServer.ra
*.Cache
*.user

StreamWithRec/StreamWithRec/Debug/
ASRMicrosoftCpp/ASRMicrosoftCpp/Debug/
StreamAudioServer/StreamAudioServer/Debug/
Sandbox/MySpeech/Debug/
Sandbox/WindowsSTT/WindowsSTT/bin/
Sandbox/WindowsSTT/WindowsSTT/obj/
EclipseWorkspace/.metadata/
EclipseWorkspace/InMindAgent/bin/
EclipseWorkspace/InMindAgent/gen/
EclipseWorkspace/InMindAgentLib/bin/
EclipseWorkspace/InMindAgentLib/gen/
EclipseWorkspace/StreamAudioClient/bin/
EclipseWorkspace/StreamAudioServer/bin/
EclipseWorkspace/VoiceRec/bin
EclipseWorkspace/VoiceRec/gen
EclipseWorkspace/TCPClient
EclipseWorkspace/JAVATCPServer
EclipseWorkspace/TempSandbox
UserData/
InMindServer/out
NewsAndMW/
TempSandbox/
TempSandbox2/




*.opensdf
*.prefs
googleASR.txt
*.suo
*.class
GCalendar/.idea/
EmailClient/.idea/
InMindAgent/app/build/
InMindAgent/.idea/
InMindAgent/.gradle/
InMindServer/logging/inmindServer.log.lck
LIAextension/.idea/
LIAextension/gradlew
LIAextension/gradle/
InMindAgent/tmp/
InMindAgent/build/android-profile/profile-2017-04-13-12-27-18-174.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-28-36-183.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-33-27-723.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-35-30-940.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-36-53-172.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-37-00-454.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-41-09-043.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-41-15-191.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-43-33-668.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-44-48-696.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-53-27-512.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-12-53-39-092.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-00-12-357.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-03-34-326.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-04-04-840.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-05-17-912.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-05-47-807.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-11-24-048.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-14-35-784.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-17-50-808.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-18-11-902.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-22-55-676.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-30-25-229.rawproto
InMindAgent/build/android-profile/profile-2017-04-13-13-30-50-649.rawproto
InMindAgent/build/android-profile/profile-2017-04-20-11-14-25-838.rawproto
InMindServer/.idea/kotlinc.xml
InMindAgent/build/android-profile/
InMindAgent/app/app-release.apk
InMindAgent/build/generated/mockable-android-25.jar
